<a href="https://colab.research.google.com/github/Mauricio235/Sprint-4/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import psycopg2
import pandas as pd

In [30]:
conn = psycopg2.connect(dbname='postgres',user='admin',
                        host='ec2-3-144-245-96.us-east-2.compute.amazonaws.com', password='admin',
                        port= '5432')

In [35]:
banco_response = "select * from response;"

In [49]:
banco_response_csv = pd.read_sql_query(banco_response, conn)
banco_response_csv.head(10)

   response_id  ... request_id
0          667  ...          5
1          668  ...          5
2          669  ...          5
3          670  ...          5
4          671  ...          6
5          672  ...          7
6          673  ...          7
7          674  ...          7
8          675  ...          8
9          676  ...          8

[10 rows x 14 columns]

In [37]:
banco_request = "select * from request;"

In [48]:
banco_request_csv = pd.read_sql_query(banco_request, conn)
banco_request_csv.head()

   request_id  ...            unit
0           1  ...            None
1        5286  ...            None
2        5288  ...            None
3        5291  ...  CASA 1 ANDAR 1
4           5  ...            None

[5 rows x 9 columns]

In [39]:
banco_geoapi = "select * from geoapi;"

In [40]:
banco_geoapi_csv = pd.read_sql_query(banco_geoapi, conn)
banco_geoapi_csv.head()

   geoapi_id  ...  provider_name
0          2  ...           Here
1          3  ...         MapBox
2          4  ...       OpenCage
3          7  ...  OpenStreetMap
4          8  ...         TomTom

[5 rows x 6 columns]

In [31]:
cur= conn.cursor()
cur

In [26]:

cur.execute('select * from response')

In [27]:
resultado = cur.fetchall()

In [51]:

output4 = pd.merge(banco_request_csv, banco_response_csv, 
                   how = "outer", on= "request_id")

output4.head(10)

   request_id  ... geoapi_id
0           1  ...       NaN
1        5286  ...       8.0
2        5286  ...       2.0
3        5286  ...       3.0
4        5286  ...      10.0
5        5288  ...       8.0
6        5288  ...       2.0
7        5288  ...       3.0
8        5288  ...      10.0
9        5291  ...       3.0

[10 rows x 22 columns]